#footer {
  color: #ffffff;
  text-align: center;
  float: none;
  padding-top: 1rem;
}

h1 {
  text-align: center;
}

p.home {
  color: #ffffff;
  width: 40rem;
  height: 20rem;
  padding-top: 1rem;
  margin-left: 60rem;
  background-color: #000000;
  border: 2px solid #00ffff;
  border-radius: 5px;
  /*outline: 2px solid #000000;*/
}
