#footer {
  color: #ffffff;
  text-align: center;
  float: none;
  padding-top: 1rem;
}

h1 {
  text-align: center;
}

p.home {
  width: 30rem;
  height: 20rem;
  border: 2px solid #000000;
  border-radius: 5px;
  /*outline: 2px solid #000000;*/
}
